
.img{
    height: 600px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(210,203,218);
}
.nimg{
    height: 70px;
    width: 70px;
    border-radius: 20px;

}
.kimg{
    height: 250px;
}

.main-card{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}
p{
    font-size: 19px;
}
.mr{
    margin-left: 200px;
}
.text{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: large;
    text-align: center;
}
.back{
    background-color:rgb(210,203,218);
    
}
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.box{
    box-shadow: 3px 0px 30px 1px rgb(185, 175, 175);
}
.hcard{
    transition: 1s;
    
    
}
.hcard:hover{
    transform: scale(1.1);
}
.mar{
    margin-top: 30px;
}
.fut{
    background-color: rgb(210,203,218);
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fimg{
    border-radius: 30px;
    height: 250px;

}
.icard{
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-top: 30PX;
    transition: 1s;
}
.icard:hover{
    box-shadow: 4px 1px 2px 2px rgb(126, 118, 118);
    border-radius: 50%;
    transform: scale(1.1);
}
.get{
    background-color:rgb(146, 117, 178) ;
}